<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DefaultCredentialIssuerMetadataProcessor-Test-Suite">
    <test name="metadata-tests" preserve-order="true">
        <classes>
            <class name="org.wso2.carbon.identity.openid4vc.issuance.metadata.DefaultCredentialIssuerMetadataProcessorTest"/>
        </classes>
    </test>
</suite>

